@import "libs/variables";
@import "libs/reset";
@import "libs/mixins";
@import "libs/polices";
@import "communs/header_menu";
@import "communs/footer";
@import "communs/formulaire";
@import "communs/overlay";
@import "communs/navbar";
@import "pages/audio";
@import "pages/boxy";
@import "pages/commerce";
@import "pages/geodata";
@import "pages/ide";
@import "pages/meteo";
@import "pages/notes";
@import "pages/pomodoro";
@import "pages/scroll";
@import "pages/slider";
@import "pages/accueil";
@import "pages/notfound";

html{
position: relative;  // pour overlay recouvre toute l'application
}
.APP {
  background-color: #f1f1f1;
  color: #fff;
  min-height: 100vh;
  position: relative;
  // max-width: 1440px;
  margin: 0 auto;
  border-bottom: 1px solid transparent;
  display: flex;
  flex-direction: column;
}

.bodyContent {
  flex-grow: 1;
  background-color: #fff;
  h1 {
    text-align: center;
  }
}
