.boxLink {
  padding: 20px 30px;
  margin: 30px;
  margin-top: 100px;
  border: 1px solid $noir;
  border-radius: 15px;
  box-shadow: 1px 1px 15px $noir;;
}

.boxLinkContainer{
    width: 80%;
    max-width: 900px;
    margin: 20px auto;
    padding-top: 50px;
}